# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
backend/venv/
.venv/
venv/

# VS Code
.vscode/

# Logs
*.log

# Environment variables
.env

# Database
*.db

# OS files
.DS_Store
Thumbs.db